Repository kcc-final-project/krms4U, pull requests merged in 2024-09, with the labels that each got.

#9 feat(8): admin-user-list 구현
  pom.xml
  src/main/java/com/krms4u/api/domain/product/controller/AdminController.java
  src/main/java/com/krms4u/api/domain/user/controller/AdminUserController.java
  src/main/java/com/krms4u/api/domain/user/mapper/UserMapper.java
  src/main/java/com/krms4u/api/domain/user/service/UserAdminService.java
  src/main/java/com/krms4u/api/domain/user/service/UserAdminServiceImpl.java
  src/main/java/com/krms4u/api/domain/user/vo/UserVO.java
  src/main/resources/api/mapper/h2/AdminUser.xml
  src/main/resources/application.yml
  src/main/resources/data-h2.sql
  src/main/webapp/WEB-INF/views/adminUser.jsp
  src/main/webapp/resources/css/adminUser.css
  src/main/webapp/resources/css/common/commonAdminLayout.css
Labels: ✨ Feature

#16 상품 관련 API 설계 및 JSP 데이터 렌더링
  .gitignore
  pom.xml
  src/main/java/com/krms4u/api/common/config/SecurityConfig.java
  src/main/java/com/krms4u/api/common/exception/ExceptionCode.java
  src/main/java/com/krms4u/api/domain/product/controller/ProductController.java
  src/main/java/com/krms4u/api/domain/product/dto/request/PaymentSaveRequest.java
  src/main/java/com/krms4u/api/domain/product/dto/request/ProductOrderRequest.java
  src/main/java/com/krms4u/api/domain/product/dto/request/ProductOrderSaveRequest.java
  src/main/java/com/krms4u/api/domain/product/dto/resultMap/PageDTO.java
  src/main/java/com/krms4u/api/domain/product/dto/resultMap/ProductDetailRM.java
  src/main/java/com/krms4u/api/domain/product/dto/resultMap/ProductListBest5RM.java
  src/main/java/com/krms4u/api/domain/product/dto/resultMap/ProductWithImageRM.java
  src/main/java/com/krms4u/api/domain/product/dto/resultMap/RentableProduct.java
  src/main/java/com/krms4u/api/domain/product/exception/InsertOrderFailedException.java
  src/main/java/com/krms4u/api/domain/product/exception/InsertPaymentFailedException.java
  src/main/java/com/krms4u/api/domain/product/exception/InsertProductOrderFailedException.java
  src/main/java/com/krms4u/api/domain/product/exception/InvalidDiscountRateException.java
  src/main/java/com/krms4u/api/domain/product/exception/InvalidRentalFeeException.java
  src/main/java/com/krms4u/api/domain/product/exception/ProductNotFoundException.java
  src/main/java/com/krms4u/api/domain/product/mapper/ProductMapper.java
  src/main/java/com/krms4u/api/domain/product/service/ProductService.java
  src/main/java/com/krms4u/api/domain/product/service/ProductServiceImpl.java
  src/main/java/com/krms4u/api/domain/product/vo/DiscountRate.java
  src/main/java/com/krms4u/api/domain/product/vo/OrderState.java
  src/main/java/com/krms4u/api/web/pages/HomeController.java
  src/main/resources/api/mapper/h2/ProductMapper.xml
  src/main/resources/application-secret.yml
  src/main/resources/application.yml
  src/main/webapp/WEB-INF/views/additionalInfo.jsp
  src/main/webapp/WEB-INF/views/commonAdminLayout.jsp
  src/main/webapp/WEB-INF/views/commonServiceLayout.jsp
  src/main/webapp/WEB-INF/views/index.jsp
  src/main/webapp/WEB-INF/views/productDetail.jsp
  src/main/webapp/WEB-INF/views/productList.jsp
  src/main/webapp/resources/css/additionalInfo.css
  src/main/webapp/resources/css/adminUser.css
  src/main/webapp/resources/css/common/commonAdminLayout.css
  src/main/webapp/resources/css/home.css
  src/main/webapp/resources/css/productDetail.css
  src/main/webapp/resources/css/productList.css
  src/main/webapp/resources/js/additionalInfo.js
  src/main/webapp/resources/js/productDetail.js
Labels: ✨ Feature, 🎨 Html&css

#17 인증 및 인가 구현 및 마이페이지를 구현한다.
  .metadata/.lock
  .metadata/.log
  .metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
  .metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
  .metadata/.plugins/org.eclipse.core.resources/.root/2.tree
  .metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
  .metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
  .metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
  .metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
  .metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
  .metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
  .metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
  .metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
  .metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
  .metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
  .metadata/.plugins/org.eclipse.m2e.logback/0.log
  .metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
  .metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
  .metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
  .metadata/.plugins/org.eclipse.ui.intro/introstate
  .metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
  .metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
  .metadata/version.ini
  src/main/java/com/krms4u/api/common/auth/PrincipalDetail.java
  src/main/java/com/krms4u/api/common/auth/PrincipalDetailService.java
  src/main/java/com/krms4u/api/common/config/SecurityConfig.java
  src/main/java/com/krms4u/api/domain/user/controller/AdminUserController.java
  src/main/java/com/krms4u/api/domain/user/controller/loginUserController.java
  src/main/java/com/krms4u/api/domain/user/mapper/UserMapper.java
  src/main/java/com/krms4u/api/domain/user/resultMap/UserDTO.java
  src/main/java/com/krms4u/api/domain/user/resultMap/UserMypageDTO.java
  src/main/java/com/krms4u/api/domain/user/service/UserAdminService.java
  src/main/java/com/krms4u/api/domain/user/service/UserService.java
  src/main/java/com/krms4u/api/domain/user/service/UserServiceImpl.java
  src/main/java/com/krms4u/api/domain/user/vo/UserVO.java
  src/main/resources/api/mapper/h2/userMapper.xml
  src/main/resources/api/mapper/userMapper.xml
  src/main/webapp/WEB-INF/views/commonServiceLayout.jsp
  src/main/webapp/WEB-INF/views/joinForm.jsp
  src/main/webapp/WEB-INF/views/loginForm.jsp
  src/main/webapp/WEB-INF/views/memberMypage.jsp
  src/main/webapp/resources/css/common/commonLayout.css
  src/main/webapp/resources/css/join.css
  src/main/webapp/resources/css/login.css
  src/main/webapp/resources/css/memberMypage.css
Labels: ✨ Feature, 🎨 Html&css

#25 모든 페이지 통합 연결 및 스타일 수정
  src/main/java/com/krms4u/api/common/auth/CustomLoginSuccessHandler.java
  src/main/java/com/krms4u/api/common/auth/PrincipalDetail.java
  src/main/java/com/krms4u/api/common/config/SecurityConfig.java
  src/main/java/com/krms4u/api/domain/product/controller/ProductController.java
  src/main/java/com/krms4u/api/domain/user/controller/AdminUserController.java
  src/main/java/com/krms4u/api/domain/user/controller/loginUserController.java
  src/main/java/com/krms4u/api/domain/user/mapper/UserMapper.java
  src/main/java/com/krms4u/api/domain/user/service/UserService.java
  src/main/java/com/krms4u/api/domain/user/service/UserServiceImpl.java
  src/main/webapp/WEB-INF/views/additionalInfo.jsp
  src/main/webapp/WEB-INF/views/adminProduct.jsp
  src/main/webapp/WEB-INF/views/adminProductRegister.jsp
  src/main/webapp/WEB-INF/views/adminUser.jsp
  src/main/webapp/WEB-INF/views/chargeMain.jsp
  src/main/webapp/WEB-INF/views/commonAdminLayout.jsp
  src/main/webapp/WEB-INF/views/commonServiceLayout.jsp
  src/main/webapp/WEB-INF/views/joinForm.jsp
  src/main/webapp/WEB-INF/views/memberMypage.jsp
  src/main/webapp/WEB-INF/views/orderMain.jsp
  src/main/webapp/resources/css/additionalInfo.css
  src/main/webapp/resources/css/adminProduct.css
  src/main/webapp/resources/css/adminProductRegister.css
  src/main/webapp/resources/css/adminUser.css
  src/main/webapp/resources/css/common/commonAdminLayout.css
  src/main/webapp/resources/css/common/commonLayout.css
  src/main/webapp/resources/css/home.css
  src/main/webapp/resources/css/memberMypage.css
  src/main/webapp/resources/js/additionalInfo.js
  src/main/webapp/resources/js/productDetail.js
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#27 주문관리 페이지의 검색 기능 및 배송 상태 변경 기능
  src/main/java/com/krms4u/api/common/mail/MailController.java
  src/main/java/com/krms4u/api/domain/charge/resultMap/ChargeDTO.java
  src/main/java/com/krms4u/api/domain/order_product/controller/OrderProductController.java
  src/main/java/com/krms4u/api/domain/order_product/mapper/OrderProductMapper.java
  src/main/java/com/krms4u/api/domain/order_product/service/OrderProductService.java
  src/main/resources/api/mapper/h2/ChargeMapper.xml
  src/main/webapp/WEB-INF/views/adminUser.jsp
  src/main/webapp/WEB-INF/views/chargeMain.jsp
  src/main/webapp/WEB-INF/views/chargeManage.jsp
  src/main/webapp/WEB-INF/views/orderMain.jsp
  src/main/webapp/resources/css/charge.css
  src/main/webapp/resources/css/ordermanage.css
  src/main/webapp/resources/css/orderpopup.css
  src/main/webapp/resources/js/charge.js
  src/main/webapp/resources/js/delivery.js
  src/main/webapp/resources/js/ordermanage.js
  src/main/webapp/resources/js/orderpopup.js
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor
